@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
    --black: #333333;
    --dark: #444555;
    --gray66: #666;
    --yellow: #eeee02;
    --green: #78ee02;
    --orange: #ee7802;
    --another-green: #02ee02;
    --biruza: #02eeee;
    --compliment: #0202ee;
}

html {
    font-family: 'Josefin Sans', serif;
}

body {
    width: 99vw;
    height: 95vh;
    background-color: var(--dark);
    position: relative;
}

.lorem {
    font-weight: 500;
    color: var(--yellow);
}

.drop-letter {
    font-size: 30px;
    font-weight: 700;
    color: var(--green);
    position: absolute;
    animation: drop 10s linear infinite;
}

@keyframes drop {
    0% {
        transform: translateY(-10vh);
    }
    100% {
        transform: translateY(90vh);
    }
}


/* .drop-letter {
    transform: translateY(1000px);
} */

.audio {
    display: none;
}

.play {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    left: 45%;
    top: 45%;
}

.play:hover,
.play:active {
    opacity: 0.8;
}

.play:focus {
    outline: none;
}

.man {
    position: relative;
}

.container {
    position: relative;
}

.body,
.head,
.hand,
.foot {
    position: absolute;
    /* background-color: var(--black);
    outline: 1px solid var(--gray66); */
}

.body {
    height: 100px;
    width: 70px;
}

.hand {
    height: 120px;
    width: 25px;
}

.left-hand {
    left: -10px;
}

.right-hand {
    right: -74px;
}

.foot {
    height: 120px;
    width: 25px;
}

.left-foot {
    left: 1px;
    bottom: -207px;
}

.right-foot {
    right: -63px;
    bottom: -207px;
}