.container {
    padding: 40px;
    margin-bottom: 20px;
  
    height: 300px;
    width: 100%;
    background: linear-gradient(45deg, var(--MAXgay), var(--gay));;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.card{
    flex: 0 0 calc(33% - 30px);
   
}
.card:not(:nth-child(3n)){
    margin-right: 41px;
}
.name {
    margin-top: 20px;
}
.surname{
    margin-top: 10px;
}
.name, .surname {
    font-weight: 500;
    font-size: var(--logoText);
    line-height: 40px;
    color: var(--MAXblack);
}

.ava {
    width: 120px;
    height: 100px;
}