.container {
    padding: 50px;
    display: flex;
    border-bottom: 1px solid var(--MAXblack);
}
.list {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.item {
    padding: 15px;
    margin-bottom: 0px;
    flex: 35% 1 1;
    font-weight: 400;
    font-size: var(--largeText);
    outline: 2px solid var(--MAXblack);
    color: var(--MAXblack);
}
.item:first-child {
    font-size: var(--header);
    flex: 100%;
}

.itemName {
    font-weight: 600;
}
.btnContainer {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.btn {
    padding: 20px;
    font-weight: 600;
    font-size: var(--buttonSmallText);
    line-height: 15px;
    color: var(--white);
    background-color: var(--MAXblack);
    border:none;
}
.postsBar {
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.posts {
    font-size: var(--header);  
}
.postLink {  
    font-weight: 600;
    font-size: var(--header);
    color: var(--MAXgay);

}
.postsContainer {
    margin: 0px 50px;
}
.postsList {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}